In [ ]:
#Question 1. 
''' Consider 2 lists below:
    var fruit=List(“apple”,”mango”,”lemon”)
    var price=List(20,30,10)
    var qty=List(2,5,12)
        a) Create a dataframe from 2 lists fruit & price. It looks like follows:
        Fruit Price
        Apple 20
        Mango 30
        Lemon 1
        b) Add a new column “Quantity” and insert the data from the list “qty” as column wise.
        c) Add another column “Total Price” and insert data by calculating data as price x qty.
        d) Rearrange the whole dataframe by descending into “Total Price” column.
        e) Save the dataframe into CSV file “fruits.csv”
'''

In [ ]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col

In [ ]:
spark = SparkSession.builder.appName("Spark Assessment").getOrCreate()

In [ ]:
data = [("apple", 20), ("mango", 30), ("lemon", 10)]
df = spark.createDataFrame(data, ["Fruit", "Price"])

In [ ]:
qty = [2, 5, 12]
df = df.withColumn("Quantity", col("Fruit").cast("int"))

In [ ]:
df = df.withColumn("Total Price", col("Price") * col("Quantity"))

In [ ]:
df = df.orderBy(col("Total Price").desc())

In [ ]:
df.write.csv("fruits.csv", header=True)

In [ ]:
df.show()