In [ ]:
#Question 1. 
''' Consider 2 lists below:
    var fruit=List(“apple”,”mango”,”lemon”)
    var price=List(20,30,10)
    var qty=List(2,5,12)
        a) Create a dataframe from 2 lists fruit & price. It looks like follows:
        Fruit Price
        Apple 20
        Mango 30
        Lemon 1
        b) Add a new column “Quantity” and insert the data from the list “qty” as column wise.
        c) Add another column “Total Price” and insert data by calculating data as price x qty.
        d) Rearrange the whole dataframe by descending into “Total Price” column.
        e) Save the dataframe into CSV file “fruits.csv”
'''

In [1]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col, expr, lit

In [2]:
spark = SparkSession.builder.appName("Spark Assessment").getOrCreate()

24/04/22 13:56:48 WARN Utils: Your hostname, Shivanis-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.106 instead (on interface en0)
24/04/22 13:56:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/22 13:56:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
fruit = ["apple", "mango", "lemon"]
price = [20, 30, 10]
qty = [2, 5, 12]

In [4]:
df = spark.createDataFrame(zip(fruit, price, qty), ["Fruit", "Price", "Quantity"])
df.show()

+-----+-----+--------+
|Fruit|Price|Quantity|
+-----+-----+--------+
|apple|   20|       2|
|mango|   30|       5|
|lemon|   10|      12|
+-----+-----+--------+

In [5]:
df = df.withColumn("Total Price", col("Price") * col("Quantity"))
df.show()

+-----+-----+--------+-----------+
|Fruit|Price|Quantity|Total Price|
+-----+-----+--------+-----------+
|apple|   20|       2|         40|
|mango|   30|       5|        150|
|lemon|   10|      12|        120|
+-----+-----+--------+-----------+

In [6]:
df = df.orderBy(col("Total Price").desc())

In [ ]:
df.write.csv("fruits.csv", header=True)

In [7]:
df.show()

+-----+-----+--------+-----------+
|Fruit|Price|Quantity|Total Price|
+-----+-----+--------+-----------+
|mango|   30|       5|        150|
|lemon|   10|      12|        120|
|apple|   20|       2|         40|
+-----+-----+--------+-----------+