In [ ]:
#Question 2. 
''' Consider two dataset “Company.txt” and “College.txt”
    a. Create two table structure as follows by using case class:
        i. College table:
            dates:String,
            college:String,
            location:String,
            number_of_indian_students:String,
            number_of_foreign_students:String,
            fees:String , 
            survey_name:String, 
            rank:Int
        ii. Company table:
            dates:String,
            college:String,
            company:String,
            location:String,
            country:String,
            package:Double ,
            selected:Int, 
            participated:Int, 
            criteria:Int
            
    b. Read these two txt files into RDD and map the RDD with these table structure.
    c. Get the result year wise college ranking
    d. List down the College name and Total Numbers of Students including Indian & Foreigner who
    conducted the campus drive in “TCS” and “Capgemini”.
    e. List down the College name and ranking whose student have got opportunities in “Google” and
    “Facebook”
    f. List down the Company names with number of campus drives.
    g. List down the colleges state wise with total no. of Student Selection.
    h. List down the full details of College with Campus drive details who have highest number of Foreign
    Students.
    i. List down top 5 college name with their number of Selected Students
    j. List down the College Name with Fees whose student are getting package above of 10 LPA package
    k. List down the College Name with the Rank who have the highest criteria to get a job
'''

In [16]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col, expr, lit

In [2]:
spark = SparkSession.builder.appName("Spark Assessment2").getOrCreate()

24/04/22 13:41:53 WARN Utils: Your hostname, Shivanis-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.106 instead (on interface en0)
24/04/22 13:41:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/22 13:41:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [14]:
class College(object):
    def __init__(self, dates, college, location, indian_students, foreign_students, fees, survey_name, rank):
        self.dates = dates
        self.college = college
        self.location = location
        self.indian_students = int(indian_students)
        self.foreign_students = int(foreign_students)
        self.fees = int(fees)
        self.survey_name = survey_name
        self.rank = int(rank)

class Company(object):
    def __init__(self, dates, college, company, location, country, package, selected, participated, criteria):
        self.dates = dates
        self.college = college
        self.company = company
        self.location = location
        self.country = country
        self.package = float(package)
        self.selected = int(selected)
        self.participated = int(participated)
        self.criteria = int(criteria)

In [19]:
df = spark.createDataFrame(zip(fruit, price, qty), ["Fruit", "Price", "Quantity"])
df.show()

+-----+-----+
|Fruit|Price|
+-----+-----+
|apple|   20|
|mango|   30|
|lemon|   10|
+-----+-----+

In [ ]:
df = df.withColumn("Total Price", col("Price") * col("Quantity"))
df.show()

In [ ]:
df = df.orderBy(col("Total Price").desc())

In [ ]:
df.write.csv("fruits.csv", header=True)

In [21]:
df.show()

+-----+-----+--------+
|Fruit|Price|Quantity|
+-----+-----+--------+
|apple|   20|    null|
|mango|   30|    null|
|lemon|   10|    null|
+-----+-----+--------+