In [ ]:
#Question 3. 
''' Consider two dataset “Company.txt” and “College.txt”
        a. Create two table structure as follows by using case class:
        i. College table:
        dates:String,college:String,location:String,number_of_indian_students:String,number_of_fo
        reign_students:String,fees:String , survey_name:String, rank:Int
        ii. Company table:
        dates:String,college:String,company:String,location:String,country:String,package:Double ,
        selected:Int, participated:Int, criteria:Int
        b. Read these two txt files into RDD and map the RDD with these table structure.
        c. Get the result year wise college ranking
        d. List down the College name and Total Numbers of Students including Indian & Foreigner who
        conducted the campus drive in “TCS” and “Capgemini”.
        e. List down the College name and ranking whose student have got opportunities in “Google” and
        “Facebook”
        f. List down the Company names with number of campus drives.
        g. List down the colleges state wise with total no. of Student Selection.
        h. List down the full details of College with Campus drive details who have highest number of Foreign
        Students.
        i. List down top 5 college name with their number of Selected Students
        j. List down the College Name with Fees whose student are getting package above of 10 LPA package
        k. List down the College Name with the Rank who have the highest criteria to get a job
'''

In [1]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col, expr, lit

In [2]:
spark = SparkSession.builder.appName("Spark Assessment").getOrCreate()

24/04/22 13:56:48 WARN Utils: Your hostname, Shivanis-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.106 instead (on interface en0)
24/04/22 13:56:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/22 13:56:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
fruit = ["apple", "mango", "lemon"]
price = [20, 30, 10]
qty = [2, 5, 12]

In [4]:
df = spark.createDataFrame(zip(fruit, price, qty), ["Fruit", "Price", "Quantity"])
df.show()

+-----+-----+--------+
|Fruit|Price|Quantity|
+-----+-----+--------+
|apple|   20|       2|
|mango|   30|       5|
|lemon|   10|      12|
+-----+-----+--------+

In [5]:
df = df.withColumn("Total Price", col("Price") * col("Quantity"))
df.show()

+-----+-----+--------+-----------+
|Fruit|Price|Quantity|Total Price|
+-----+-----+--------+-----------+
|apple|   20|       2|         40|
|mango|   30|       5|        150|
|lemon|   10|      12|        120|
+-----+-----+--------+-----------+

In [6]:
df = df.orderBy(col("Total Price").desc())

In [ ]:
df.write.csv("fruits.csv", header=True)

In [7]:
df.show()

+-----+-----+--------+-----------+
|Fruit|Price|Quantity|Total Price|
+-----+-----+--------+-----------+
|mango|   30|       5|        150|
|lemon|   10|      12|        120|
|apple|   20|       2|         40|
+-----+-----+--------+-----------+