In [ ]:
#Question 3. 
''' Write a program to read all data from CSV file with column headings.
        +--------------+-----------+-------+
        |Employee Name |Department |Salary |
        +--------------+-----------+-------+
        |         James|      Sales|   3000|
        |       Michael|      Sales|   4600|
        |        Robert|      Sales|   4100|
        |         Maria|    Finance|   3000|
        |         James|      Sales|   3000|
        |         Scott|    Finance|   3300|
        |           Jen|    Finance|   3900|
        |          Jeff|  Marketing|   3000|
        |         Kumar|  Marketing|   2000|
        |          Saif|      Sales|   4100|
        +--------------+-----------+-------+
b) Add new column “Bonus” by calculating 5% of Sales Department, 3% of Marketing Department, 4% of Finance
Department.
c) Removing the duplicates entries by 2 ways in Pyspark.
d) Display table by grouping up Department Names and count the total no. of employees from each department.
e) Display table with Ascending order by “employee_name”, then descending by “salary”
f) Crosstab display with align “department” as row, “employee_name” as column and “salary” data to filling up
the table.
g) Write a program to add a new column “salary_rank” by keeping rank from Highest to lowest.
a. [let say, add 1 in “salary_rank” column for highest salary employee, then add 2 for 2nd highest salary
employee]
h) Display records who “employee_name” starts with alphabet “J” by use of SQL Query in Pyspark.
i) Join the below table with the above table by “employee_name” column (only common records]:
+-------------+---------+
Employee Name |   Grade |
+-------------+---------+
|        James|       A1|
|      Michael|       C2|
|       Robert|       C1|
|         Saif|       B2|
|        Rocky|       C1|
|          Sam|       C1|
+-------------+---------+
'''

In [1]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col, expr, lit

In [2]:
spark = SparkSession.builder.appName("Spark Assessment3").getOrCreate()

24/04/22 13:56:48 WARN Utils: Your hostname, Shivanis-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.106 instead (on interface en0)
24/04/22 13:56:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/22 13:56:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
fruit = ["apple", "mango", "lemon"]
price = [20, 30, 10]
qty = [2, 5, 12]

In [4]:
df = spark.createDataFrame(zip(fruit, price, qty), ["Fruit", "Price", "Quantity"])
df.show()

+-----+-----+--------+
|Fruit|Price|Quantity|
+-----+-----+--------+
|apple|   20|       2|
|mango|   30|       5|
|lemon|   10|      12|
+-----+-----+--------+

In [5]:
df = df.withColumn("Total Price", col("Price") * col("Quantity"))
df.show()

+-----+-----+--------+-----------+
|Fruit|Price|Quantity|Total Price|
+-----+-----+--------+-----------+
|apple|   20|       2|         40|
|mango|   30|       5|        150|
|lemon|   10|      12|        120|
+-----+-----+--------+-----------+

In [6]:
df = df.orderBy(col("Total Price").desc())

In [ ]:
df.write.csv("fruits.csv", header=True)

In [7]:
df.show()

+-----+-----+--------+-----------+
|Fruit|Price|Quantity|Total Price|
+-----+-----+--------+-----------+
|mango|   30|       5|        150|
|lemon|   10|      12|        120|
|apple|   20|       2|         40|
+-----+-----+--------+-----------+